/*var*/

/*设计图width*/
$screenwidth:1200;

/*rem 份数*/
$remSize:16;

/* 320/16 =20px=1rem */

/*html rem比例*/
$rem:($screenwidth/$remSize);


/*全局*/
$font-family:"微软雅黑","宋体","Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-color:#333 ;
$font-size:14px ;
$body-bg:#D5D8E1 ;

$text-default: #000; // 默认
$text-primary: #467CC3; // 选中
$text-info : #5bc0de; // 信息
$text-success: #5cb85c; // 警告 
$text-warning: #f0ad4e; // 警告   
$text-danger : #f05a00; // 危险 



@import "./media.scss"; // rem 页面布局

